
    <div class="container">
<!-- Form which allows admins to promote other users to admins
================================================== -->
<section id="forms">
  <div class="page-header">
    <h1>Edit User: <%= @user.email %></h1>
  </div>

  <div class="row">
    <div class="span10 offset1">

      <%= form_for(@user, :html => { :method => :put }) do |f| %>

      <form class="form-horizontal well">
        <fieldset>

          <div class="control-group">
            <label><%= f.label :email, {class:"control-label"} %> </label>
            <div class="controls">
              <%= f.email_field :email, {class:"input-xlarge"} %>
            </div>
          </div>

          <div class="control-group">
            <label><%= f.label :admin, {class:"control-label"} %> </label>
            <div class="controls">
              <%= f.check_box :admin, {class:"checkbox"} %>
              <label>
                Check to enable admin functionality
              </label>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
<% end %>
</section>

