<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  <title>GatingApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  	<style>
       	body {
        	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      	}
    </style>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>

       <% if current_user && ! current_user.admin %>
        <%= link_to current_user.organization.full_name, capabilities_path, :class => "brand" %>
       <% else %>
        <%= link_to 'Gating App', admin_root_path, :class => "brand" %>
       <% end %>

       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
        	<% if current_user && ! current_user.admin  %>
			     <li><%= link_to 'Capabilities', capabilities_path %></li>
			   <% end %>
        </ul>

        <ul class="nav pull-right" id="main-menu-right">
            <% if user_signed_in? %>
            	<li><%= link_to "Account Details", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "Register", new_user_registration_path %> </li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
        </ul>
       </div>
     </div>
   </div>
 </div>

<!-- Alerts & Messages
================================================== -->
 <div class="container">

<% if alert %>
  <div class="row">
    <div class="span12">
      <div class="alert alert-error">
        <%= alert %>
      </div>
    </div>
  </div>
<% end %>

<% if notice %>
  <div class="row"
    <div class="span12">
      <div class="alert alert-success">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>

<br><br><br><br>

     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
          <a href="https://eudaimonious.blogspot.com">Blog</a>
          <a href="https://twitter.com/eudaimonious">Twitter</a>
          <a href="https://github.com/eudaimonious/gating_app/">GitHub</a>
        </div>
        Made by <a href="http://http://about.me/margaretscott">Margaret Scott</a>. Contact her <a href="mailto:eudaimonious@gmail.com">eudaimonious@gmail.com</a>.<br>
      </footer>



  </div>
</body>
</html>
